
.DS_Store
UDP_fileSender.dSYM/Contents/Resources/DWARF/UDP_fileSender
.vscode/tasks.json
UDP_fileSender
UDP_fileSender.dSYM/Contents/Info.plist
UDP_fileSender.dSYM/Contents/Resources/Relocations/aarch64/UDP_fileSender.yml
